# Ignore dependencies and build outputs
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store

# Build artifacts
/dist
/coverage

# VCS and CI
.git
.github
.husky

# IDE/editor
.vscode
.idea
.DS_Store

# Env files
.env
.env.*
